.page {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: hsl(240, 20%, 8%);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: auto;
  max-width: 60ch;
}

.title {
  font-size: 2em;
  /* font-weight: bold; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.link {
  color: rgb(96, 112, 192);
}
.link:hover {
  text-decoration: underline;
}

.nessicon {
  width: 1em;
  height: 1em;
}

.footer {
  text-align: center;
}